@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --btn-color: #f1c40f;
  --bg-gray: #ddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
}

#header-img {
  width: 200px;
  object-fit: contain;
}


ul {
  list-style: none;
  gap: 1em;
}

header > nav {
  display: flex;
}

header > nav > ul,
footer > ul {
  display: flex;
  align-items: end;
}

main {
  margin-top: 4em;
}

#hero {
  text-align: center;
}

#hero > h2 {
  margin-bottom: 1em;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#email {
  width: 275px;
  padding: .25em .2em;
}

#submit {
  cursor: pointer;
  background-color: var(--btn-color);
  border: none;
  font-weight: 900;
  padding: .5em 1em;
  font-size: 1rem;
}

#features {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 5em;
}

.feature-item {
  display: grid;
  grid-template-columns: auto 1fr;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  max-width: 200px;
}

.feature-icon > .fas {
  color: darkorange;
  font-size: 3rem;
}

#how-it-works {
  display: grid;
  place-items: center;
  margin-top: 2.5em;
}

#pricing {
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card {
  border: 1px solid black;
  border-radius: 4px;
  min-width: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* @media screen and (max-width: 800px) { */
/*  #pricing { */
/*    display: flex; */
/*    flex-direction: column; */
/*    align-items: center; */
/*  } */

/*  .card { */
/*    width: 300px; */
/*  } */
/* } */

.card-title {
  background-color: var(--bg-gray);
  padding: .75em 0;
  text-align: center;
  font-weight: 700;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  flex: 1;
  text-align: center;
}

.price {
  font-weight: 700;
  font-size: 1.5rem;
}

.card-content > ul > li {
  padding: .25rem 0;
}

button {
  cursor: pointer;
  background-color: var(--btn-color);
  border: none;
}

.card-content > button {
  margin-top: 2em;
  padding: .45em .95em;
  font-size: 1rem;
}

footer {
  background-color: var(--bg-gray);
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 1em;
  gap: .5em;
  margin-top: 2em;
}

footer > ul {
  display: flex;
}
